body
{
    background: linear-gradient (to bottom, rgb(180, 3, 3),white,rgba(0,0,0,0));
}

h1
{
    border:2px outset rgb(116, 4, 4);
    color:#0B0B61;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px /10px;
    width:7em;
    margin: auto;
    

}

img 
{
    float:left;
    width: 300;
    height:250;
}

p
{
    text-align:justify;
}

