body
{
    background: linear-gradient(to bottom, rgb(145, 1, 1), white);
    background-repeat: no-repeat;
}

h1
{
    border:2px outset rgb(255, 255, 255);
    color:#0B0B61;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px /10px;
    width:7em;
    margin: auto;
    text-align:center;
    

}

img 
{
    margin-top: 50px;
    float:center;
    width: 300;
    height:250;
    
}


p
{
    clear:left;
}

#Medhi:visited
{
    text-decoration: none;
    color:blue;
    text-align: right;

}